:root {
  --background: #ffffff;
  --foreground: #171717;

  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    .theme-default
    {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    .theme-blue
    {
      --background: skyblue;
      --foreground: white;

    }
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



.theme-blue .MuiAvatar-root {
	width: 25px !important;
	height: 25px !important;
}